body{
    margin: ;
    padding: ;
    height: 100vh;
}
.container{
    display: flex;

    margin: 10px;
    background-color: bisque;
    width: 460px;
    height: 900px;
    
    flex-direction: row;


}
.card-01{
    padding: 70px;
    margin: 70px;
    
    background-color: aqua;
    text-align: center;
    width: 100px;
    height: 100px;
    border: solid green;
    
    
    

    
    
    
    
    

    
}
.card-02{
    padding: 20px;
    margin: 70px;
    background-color: blueviolet;
    text-align: center;
    width: 100px;
    height: 100px;
    border: solid green;
    
}